.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.set {
    font-family: monospace;
    color: white;
    text-align: center;
    margin-top: 100px;
}